html, body{
	background-color: #ebebeb;
	padding: 0;
}
.step4 {
	color: #666;
}
.step4 .person{
	padding: 0.1rem;
	position: relative;
	margin: 0.1rem 0 0;
	padding-left: 0.9rem;
	min-height: 0.6rem;
}
.step4 .person dt{
	width: 0.6rem;
	height: 0.6rem;
	position: absolute;
	left: 0.1rem;
	top: 0.1rem;
	border-radius: 0.05rem;
}
.step4 .person dt .head{
	width: 100%;
	height: 100%;
	display: block;
}
.step4 .person dd{
	margin: 0;
}
.step4 .person dd .name{
	margin-top: 0.05rem;
}
.step4 .person dd .name i{
	background: url(../img/people.png) no-repeat;
	width: 0.13rem;
	height: 0.13rem;
	background-size: 0.13rem 0.12rem;
	display: inline-block;
	vertical-align: middle;
	margin: -0.04rem 0 0 0.05rem;
}
.step4 .person dd .nickname{
	margin-top: 0.15rem;
}
.step4 .personaddress{
	background-color: #fff;
	padding: 0.1rem;
	margin-top: 0.02rem;
	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	overflow: hidden;
}
.step4 .personaddress .s{
	float: left;
	margin-right: 0.15rem;
}
.step4 .personBtn{
	-webkit-appearance: none;
	border-radius: 0.03rem;
	color: #fff;
	background-color: #06be04;
	font-size: 0.16rem;
	padding: 0.1rem 0;
	width: 80%;
	border: 0;
	display: block;
	margin: 0.6rem auto 0;
}
