html, body{
	background-color: #ebebeb;
	padding: 0;
	color: #666;
}
.person{
	padding: 0.1rem;
	position: relative;
	margin: 0.1rem 0 0;
	padding-left: 0.9rem;
	min-height: 0.6rem;
}
.person dt{
	width: 0.6rem;
	height: 0.6rem;
	position: absolute;
	left: 0.1rem;
	top: 0.1rem;
	border-radius: 0.05rem;
}
.person dt .head{
	width: 100%;
	height: 100%;
	display: block;
}
.person dd{
	margin: 0;
}
.person dd .name{
	margin-top: 0.05rem;
}
.person dd .name i{
	background: url(../img/people.png) no-repeat;
	width: 0.13rem;
	height: 0.13rem;
	background-size: 0.13rem 0.12rem;
	display: inline-block;
	vertical-align: middle;
	margin: -0.04rem 0 0 0.05rem;
}
.person dd .nickname{
	margin-top: 0.15rem;
}
.infolist{
	background-color: #fff;
	position: relative;
}
.infolist .line:before,
.infolist:before,
.infolist:after{
	content: '';
	width: 200%;
	height: 1px;
	position: absolute;
	top: -1px;
	left: 0;
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transform-origin: 0;
	transform-origin: 0;
	border-bottom: 1px solid #dcdcdc;
}
.infolist:after{
	top: initial;
	bottom: -1px;
}
.infolist .line{
	margin-left: 0.16rem;
	position: relative;
	word-break: break-all;
	word-wrap: break-word;
	font-size: 0.13rem;
	position: relative;
	min-height: 1em;
	padding: 0.16rem 0.2rem 0.16rem 0.65rem;
}
.infolist .line.more:after{
	content: 'ã€‰';
	position: absolute;
	right: 0.05rem;
	top: 50%;
	color: #9c9b9f;
	margin-top: -0.08rem;
	font-size: 0.16rem;
}
.infolist .line .key{
	position: absolute;
	left: 0;
	top: 50%;
	color: #9c9b9f;
	margin-top: -0.07rem;
}
.infolist .line .val{
	color: #9C9B9F;
}
.infolist .line .val.tag{
	color: #4aa938;
}
.infolist .line .imglist{
	overflow: hidden;
	margin-bottom: -0.1rem;
}
.infolist .line .imglist .img{
	float: left;
	width: 0.6rem;
	height: 0.6rem;
	margin: 0 0.1rem 0.1rem 0;
}