.step2{
	display: none;
}
.step2 .text1{
	text-align: center;
	font-size: 0.18rem;
	margin-top: 0.2rem;
}
.step2 .numbox{
	text-align: center;
	margin-top: 0.1rem;
}
.step2 .numbox .num{
	font-style: initial;
	display: inline-block;
	width: 0.26rem;
	height: 0.26rem;
	line-height: 0.26rem;
	text-align: center;
	border: 1px solid #fff;
	border-radius: 50%;
	margin: 0 0.03rem;
}
.step2 .numbox .num.cur{
	background-color: #fff;
	color: #161618;
}
.step2 .numlist{
	overflow: hidden;
	margin-top: 0.25rem;
	text-align: center;
}
.step2 .numlist .num{
	display: inline-block;
	width: 0.55rem;
	height: 0.55rem;
	margin: 0 0.15rem 0.1rem 0.15rem;
	border: 1px solid #fff;
	border-radius: 50%;
	text-align: center;
}
.step2 .numlist .num:active{
	background-color: #474749;
	border: 1px solid #474749;
}
.step2 .numlist .num .s1{
	font-size: 0.3rem;
}
.step2 .numlist .num .s1.o{
	margin-top: 0.1rem;
}
.step2 .numlist .num .s2{
	font-size: 0.12rem;
}
.textbox{
	overflow: hidden;
	position: absolute;
	left: 0;
	bottom: 0.15rem;
	width: 100%;
	padding: 0 0.4rem;
	box-sizing: border-box;
}
.textbox .s1{
	float: left;
}
.textbox .s2{
	float: right;
}